main {
  grid-area: main;
  justify-self: center;

  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  gap: 2.75rem;
  
  width: 100%;
  max-width: 1440px;
  padding: 2rem 1rem 2.75rem 1rem;
}

@media (min-width: 768px) {
  main {
    grid-template-columns: 1fr 1fr;
    gap: 3.125rem;
    padding: 4.375rem 1.5rem 4.75rem 1.5rem;

  }
}

@media (min-width: 1200px) {
  main {
    grid-template-columns: repeat(3, 1fr);
  }
}