.modal-background {
  position: absolute;
  top: 0;
  left: 0;
  
  display: none;

  box-sizing: border-box;
  background-color: var(--very-dark-gray);

  padding: 0 1rem;

  width: 100%;
  height: 100vh;

  z-index: 5;
}

.active__modal {
  display: grid;
}

.modal-container{
  justify-self: center;
  align-self: center;
  display: grid;

  border-radius: .375rem;
  background-color: var(--white);

  max-width: 1200px;
  width: 100%;
}

.modal-header {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  border-bottom: .125rem solid var(--light-gray);
  height: 32px;

  padding: 0 .75rem;
}

.modal-close {
  cursor: pointer;
  width: 12px;
  transition: all .2s ease-in-out;  
}

.modal-close:hover {
  opacity: .6;
}

.modal-image-container {
  padding: 1rem;
}

.modal-image {
  border-radius: 1rem;
  box-sizing: border-box;
  object-fit: cover;
  width: 100%;
  height: 292px;
}

@media (min-width: 375px) {
  .modal-background {
    padding: 0 1.5rem;
  }

  .modal-image-container {
    padding: 2rem 1.5rem;
  }

  .modal-image {
    border-radius: 16px;
    box-sizing: border-box;
    width: 100%;
  }
}

@media (min-width: 768px) {
  .modal-image-container {
    padding: 1.75rem 3.375rem;
  }

  .modal-image {
    height: 464px;
  }
}

@media (min-width: 992px) {
  .modal-header {
    height: 76px;
    padding: 0 1.5rem;
  }

  .modal-close {
    width: 20px;
  }

  .modal-image-container {
    padding: 3.5rem 116px;
  }

  .modal-image {
    height: 548px;
  }
}